#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #23252C;
  width: 415px;
  height: 900px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #1A1B21;
  width: 300px;
}

.photo {
  width: 300px;
  height: auto;
  border-radius: 10px 10px 0 0;
}

/* Description */

/*Title*/
.title > h1, h3, p {
  margin: 5px 0 5px 0;
}

.title > h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}

.title > h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

.title > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */

  text-align: center;

  color: #F5F5F5;
}

/*Button*/
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding-top: 15px;
}

.button > span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  
  
  /* gray/700 */
  
  color: #374151;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  /* white */

  background: #FFFFFF;
  /* gray/300 */

  border: 1px solid #D1D5DB;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  background: #5093E2;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

/*About*/
.about {
  margin: 25px 35px 25px;
  text-align: left;
}

.about > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */


  color: #F5F5F5;
}

.about > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #DCDCDC;
}

/* Contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: #161619;
  border-radius: 0 0 10px 10px;
  width: 299.99px
}

.contact > a {
  margin: 25px 0;
}


/* Footer */

#footer {
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  padding: 2em 0 0 0;
  font-size: 0.75em;
}

  #footer a {
    color: #ddd;
    color: rgba(25, 0, 255, 0.65);
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
  }

    #footer a:hover {
      color: white;
    }

  #footer .copyright {
    list-style: none;
    padding-left: 0;
  }

    #footer .copyright li {
      display: inline-block;
      padding-left: 1em;
      margin-left: 1em;
      border-left: solid 1px rgba(255, 255, 255, 0.25);
      line-height: 1;
    }

      #footer .copyright li:first-child {
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
      }

  @media screen and (max-width: 736px) {

    #footer .copyright li {
      padding-left: 0.5em;
      margin-left: 0.5em;
    }

  }